# Members of group 72
Stian Kjønniksen Gaustad <stiankg@stud.ntnu.no>
Jakob Lien <jakobli@stud.ntnu.no> <jakoblien01@gmail.com>
Lars Overskeid <larsover@stud.ntnu.no>
Sebastian Veum <sebasv@stud.ntnu.no>
